body {
    background-color: powderblue;
    color: rgb(92, 70, 0);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

button {
    color: rgb(92, 70, 0);
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}

#canvasBuffer {
    touch-action: none; /* Prevents mobile scrolling while drawing */
}

#pitchPatCanvas {
    background-color: rgb(176, 224, 230);
}